 hr {
    border: none;
    height: 1px;
    color: #000000; /* old IE */
    background-color: #000000; /* Modern Browsers */
}
 #div_profile{
 	background-color: #ffffff;
 	//width: 180px;
 	top: 70px;
    //margin-left: 100px;
    //position: fixed;
    margin-bottom: 25px;
    border: 1px solid #979da7;
 }
 #profile_name{
 	font-weight: bold;	
 }
 #profile_content{
 	font-weight: bold;
 }
#blank_top{
	padding-top: 140px;
	position: fixed;
}