.font1{
	font-family: 'Montserrat';
}

.font_large{
  	font-size: 18pt;
}
.font_large2 {
	font-size: 28pt;
}
.font_xlarge {
	font-size: 36pt;
}
.font_medium1{
	font-size: 14pt;
}
.font_medium2{
	font-size: 12pt;
}
.font_small{
	font-size: 10pt;
}

.font_green{
 	color: #27ae60;
}
.font_gray{
 	color: #979da7;
}
.font_white{
 	color: #ffffff;
}

.font_bold {
	font-weight: bold;
}
.font_center {
	text-align: center;
}
.font_right {
	text-align: right;
}